.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

#formTitle {
    font-weight: bold;
    font-size: xx-large;
}


#characterTable {
    border: 1px solid black;
}


.bold {
    font-size: large;
    font-weight: bold;
}


button {
    background-color: aqua;
    border-radius: 5px;
}

body {
    background-image: url("../pics/dnd1.png");
}